# ---- PYTHON ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual envs (elige solo si realmente usas uno de estos nombres)
.env/
venv/
ENV/
env/

# Ignore environment variable file
.env

# ---- BYTECODE / BINARY ----
*.so
*.dll
*.dylib

# ---- IDE / EDITOR ----
.idea/
.vscode/

# ---- SYSTEM / TEMP FILES ----
.DS_Store
Thumbs.db

# ---- LOGS ----
*.log

# ---- EXCEL / TEMP ----
*.tmp
~$*.xlsx
~$*.xls
~$*.xlsm

# ---- OUTPUT (ignore everything) ----
output/

# ---- OTHER ----
*.bak
*.swp
