# ---- PYTHON ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual envs
.env/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# ---- IDE / EDITOR ----
# PyCharm
.idea/

# VSCode
.vscode/

# ---- SYSTEM / TEMP FILES ----
.DS_Store
Thumbs.db

# ---- LOGS ----
*.log

# ---- EXCEL / TEMP ----
*.tmp
~$*.xlsx
~$*.xls
~$*.xlsm

# ---- OUTPUT ----
output/*.xlsx
output/*.csv
output/*.log

# ---- OTHER ----
*.bak
*.swp
.env

